<!-- view for login page-->
<%= stylesheet_link_tag('application') %>

<!-- center login page content -->
<center>
<div id="login">
  <!-- welcome message-->
  Hello. </br>
  You've reached a private, professional online community for <b >Revenue Cycle
  Professionals</b>. The content is only available to memebers. If you'd like to
  be a part of this community Log In or Sign Up with LinkedIn.</br>
  </br>
  <!-- login with LinkedIn picture -->
  <%= link_to image_tag('Sign-In.png'), action: 'startLinkedInAuth' %></br>
  </br>
  Pronnect uses LinkedIn to upkeep your profile. If you don't have a LinkedIn
  account, please make one to continue.
</div>
</center>
