<h1>HomeFeed#index</h1>
<%= form_tag(:action => 'create') do %>
	<%= text_area(:post, :text, size: "24x6", style:"resize:None") %><br>
	<!--<%= text_field(:post, :tags) %>-->
	<%= submit_tag("Post") %>
<% end %>
