<form action="#">
	<div>

		<!-- Include / Insert Maura's Header -->
		<div>
			<h1 class = "GreenText"> Create A New Post</h1>
			<hr>
		</div>
		<div>
			<span> Title </span>
			<input type="text" name="fname"><br>
		</div>

		<div>
			<span> Description </span><br>
			<textarea name="postcontent" rows="4" cols="50" style = "resize:None"></textarea>
		</div>

		<div>
			<span> Tags </span>
			<input type="text" name="fname"><br>
		</div>

		<div style="float:right;">
			<button type="button">Submit Post</button>
		</div>
	</div>

</form>

